body{
    font-family: Arial, sans-serif;
    background-image: url(https://previews.123rf.com/images/peshkov/peshkov1904/peshkov190401207/121775216-finance-and-trade-concept-creative-white-city-wallpaper-with-forex-chart-double-exposure.jpg);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  #news-container {
    max-width: 800px;
    margin: 0 auto;
}
.news-article {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}